* {
    margin: 0;
    padding: 0;
    border: 0;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.navigation {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    margin: 0px 0px 30px 0px;
    padding: 5px 0px 0px 0px;
    width: 100%;
    border-color: #599a68;
    background: #874e4c;
    text-align: center;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    display: inline-block;
    padding: 3px 10px;
}

.navigation a {
    font-weight: 800;
    color: #b37c57;
}

.navigation a,
.navigation a:visited {
    color: #fff;
}

.navigation a.selected,
.navigation a:hover {
    color: #b37c57;
}

.container {
    /*    background: url('river.jpg');*/
    background: url(river.jpg) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    padding: 230px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.about {
    padding: 110px 0;
    background:
}

.projects {
    padding: 80px 0;
    background: ;
}

.projects .first-image,
.projects .second-image {
    border-radius: 5%;
    max-width: 100%;
}

.projects .second-image {
    height: 296px;
}

.skills {
    padding: 80px 0;
}

.contact {
    padding: 80px 0;
}

.footer {
    padding: 25px 0;
    color: #bbc;
    font-size: 0.75em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 168px;
}

.footer #logo {
    text-align: center;
    margin: 0;
}

.footer .social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
