* {
    margin: 0;
    padding: 0;
    border: 0;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/*general styles*/

html,
body{
width:100%;
overflow-x:hidden;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    width:100%;
    overflow-x:hidden;
}


/*header styles*/

header {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
    transition: all 0.2s ease-out 0s;
    margin: 0px;
    padding: 5px;
    width: 100%;
    border-color: #599a68;
    background: royalblue;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
}

header h1 {
    text-align: left;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    color: white;
    padding-left: 18px;
}

header .navigation {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: top;
    margin-top: 7px;
}

header .navigation ul {
    list-style: none;
}
header .navigation li {
    display: inline-block;
    padding: 3px 10px;
}

header .navigation a {
    font-weight: 800;
    /*color: #b37c57;*/
    color: white;
    text-decoration: none;
}

/* links */

header .navigation a:link, header .navigation a:visited {
color: white;
}

header .navigation a:hover, header .navigation a:focus {
color: brown;
}
header .navigation a:active {
color: white;
}


.container {
   background: url(river.jpg) no-repeat 50%;
   background-size: cover;
   background-attachment: inherit;
    padding: 215px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    text-align: center;
}
.container h1{
    color: white;
    font-size: 35px;
    text-shadow: 2px 2px gray;
    font-weight: bold
}
.container h2 {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px gray;
    font-weight: bold
}

.about-me{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.about {
    /*padding: 110px 0;*/
    padding: 20px 30px 0 30px;

}
.about h2{
    text-transform: uppercase;
    color: royalblue;
}

.about p {
    margin-bottom: 35px;
}

.about .my-pic img {
     max-width: 100%;
    height: 424px;
    width: 360px;
    border-radius: 500px;
}

.about .my-pic {
    padding: 20px 30px 0 30px;
 
}

.about .about-me {
    width: 62%;
    float: left;
    /*padding: 20px 30px 0px 30px;*/
    
}

.projects {
    padding: 60px 0;
    background-color: #eee;
    text-align: center;
    
}
.works{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.works:before{
    display: table;
    content: " ";
    box-sizing: border-box;
}
.works:after {
    clear: both;
    box-sizing: border-box;
}
.projects h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: royalblue;
}


.projects li {
    width: 46%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    vertical-align: top;
}

.projects .first-image,
.projects .sec-image {
    border-radius: 10px;
    max-width: 100%;
    height: 250px;
}

.skills {
    padding: 60px 120px 10px 147px;
    margin-bottom: 97px;
      text-align: left;
    list-style: none;
    text-align: center;
     margin-right: -15px;
    margin-left: -15px;
    display: block;
}
    

.skills h2{
    text-transform: uppercase;
    color: royalblue;
    text-transform: uppercase;
    color: royalblue;
}

.skills .inner-content 
{
list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
    text-align: center;
     
}

.skills img {
text-decoration: none;
    height: 100px;
    /*text-align: center;*/
    width: 100px;
    /*font-size: 50px;*/
    line-height: 100px;
    overflow: hidden;
    border-radius: 50%;
       /*padding-right: 887px;*/
}

.skills .mid-skills {

    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.skills .mid-skills-two {
     position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.skills .mid-content {
        padding: 40px 0;

}

.contact {
     background: royalblue;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    position: relative;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
    
}
.contact .inner-contact:before {
    display: table;
    content: " ";
        box-sizing: border-box;
}
.contact .inner-contact{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: table;
    content: " ";

}

.contact h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: white;
}

/*footer styles */

.footer {
    padding: 25px 0;
    color: #bbc;
    font-size: 0.75em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

.contact #logo {
    padding-top: 2px;
    text-align: center;
    margin: 0;
}

.contact .social-icon {
    width: 40px;
    height: 40px;
    margin: 18px 9px -28px 9px;
}

@media only screen and (max-width: 1200px){
.about {
    padding: 70px 0;
  }

.about .about-me {
    width: 61%;
}
}


@media only screen and (max-width: 450px){

header h1, 
header .navigation{
    width: 100%;
    padding-left: 0px;
}
.skills{
   padding: 67px 71px 10px 79px;
}
.skills .mid-skills,
.skills .mid-skills-two,
.skills h2 
{
    width: 87%;
}
.skills .inner-content p,
.skills .inner-content p{
    width: 108%;
}
 .about {
    padding: 70px 0;
  }

.about .about-me {
    width: 95%;
}

}

@media only screen and (max-width: 320px){

.skills{
    padding: 67px 159px 10px 9px;
}
.skills .mid-skills,
.skills .mid-skills-two,
.skills h2 
{
    width: 193%;
}
.skills .inner-content p,
.skills .inner-content p{
    width: 103%;
}
}

@media only screen and (max-width: 996px){

.about {
    padding: 70px 0;
  }

.about .about-me {
    width: 50%;
}

}
@media only screen and (max-width: 780px){
.about {
    padding: 70px 0;
  }

.about .about-me {
    width: 100%;
    padding: 0px 10px;
}
}