* {
    margin: 0;
    padding: 0;
    border: 0;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/*general styles*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}


/*header styles*/

header {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
    margin: 0px;
    padding: 5px;
    width: 100%;
    border-color: #599a68;
    background: royalblue;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
}

header h1 {
    text-align: left;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    color: white;
    padding-left: 18px;
}

header .navigation {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: top;
    margin-top: 7px;
}

header .navigation ul {
    list-style: none;
}

header .navigation li {
    display: inline-block;
    padding: 3px 10px;
}

header .navigation a {
    font-weight: 800;
    color: #b37c57;
}

header .navigation a,
header .navigation a:visited {
    color: #fff;
}

header .navigation a.selected,
header .navigation a:hover {
    color: #b37c57;
}


/*content styles*/

.container {
    background: url(river.jpg) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    padding: 230px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-top: 50px;
    text-align: center;
}

.container h2 {
    color: white;
}

.about {
    padding: 60px 0;
    width: 40%;
    margin: 0 auto;
}

.about p {
    margin-bottom: 1rem;
}

.projects {
    padding: 60px 0;
    background-color: #eee;
    text-align: center;
}

.projects h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.projects ul {
    width: 80%;
    margin: 0 auto;
}

.projects li {
    width: 46%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    vertical-align: top;
}

.projects .first-image,
.projects .sec-image {
    border-radius: 10px;
    max-width: 100%;
    height: 250px;
}

.skills {
    padding: 60px 0;
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.skills ul {
    text-align: left;
    list-style: none;
}

.skills li {
    margin: 0;
    padding: 20px 0 20px 84px;
    list-style: none;
    background-image: url("check-mark.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}

.contact {
    padding: 60px 0;
    background: black url("world-laptop.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.contact h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*footer styles */

.footer {
    padding: 25px 0;
    color: #bbc;
    font-size: 0.75em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}

.footer #logo {
    text-align: center;
    margin: 0;
}

.footer .social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


/*reposnsive */

@media only screen and (max-width: 800px) {
    header,
    .navigation ul {
        font-size: 9px;
    }
    .projects {
        padding: 0px;
    }
    .projects .first-image,
    .projects .sec-image {
        height: 190px;
        padding: 0px;
    }
    .skills {
        width: 90%;
    }
}
